@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lora;
  src: url("/fonts/Lora-VariableFont_wght.ttf");
}
@font-face {
  font-family: Railway;
  src: url("/public/fonts/Raleway-Italic-VariableFont_wght.ttf");
}

/* style scroll */
body::-webkit-scrollbar {
  width: 0;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: black;
}

.mobile-header-open {
  height: 100px !important;
}

/* subCategory slider */

.swiper {
  width: 100%;
  height: 100%;
}

.divHeaderSlider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: black;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(160, 150, 150);
  flex-shrink: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* css selectionSlider in home page */

.swiper {
  width: 100%;
  height: 100%;
}

.divSwipeSlide .swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divSwipeSlide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-category .swiper-slide {
  width: max-content !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: white;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* loading */

.loader {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  border: 4px solid black;
  animation: loader 2s infinite ease;
}
@media screen and (max-width: 600px) {
  .loader {
    width: 40px;
    height: 40px;
  }
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: black;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
